<table class="table table-striped" aria-describedby="page-heading">
  <thead>
    <tr>
      <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
      <th scope="col"><span jhiTranslate="assoGestionApp.contact.nom">Nom</span></th>
      <th scope="col"><span jhiTranslate="assoGestionApp.contact.prenom">Prenom</span></th>
      <th scope="col"><span jhiTranslate="assoGestionApp.contact.mail">Mail</span></th>
      <th scope="col"><span jhiTranslate="assoGestionApp.contact.telMobile">Tel Mobile</span></th>
      <th scope="col"><span jhiTranslate="assoGestionApp.contact.telFixe">Tel Fixe</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.id }}</td>
      <td>{{ contact.nom }}</td>
      <td>{{ contact.prenom }}</td>
      <td>{{ contact.mail }}</td>
      <td>{{ contact.telMobile }}</td>
      <td>{{ contact.telFixe }}</td>
    </tr>
  </tbody>
</table>
