<div>
  <h2 id="page-heading" data-cy="ActeVeterinaireHeading">
    <span jhiTranslate="assoGestionApp.acteVeterinaire.home.title">Acte Veterinaires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="assoGestionApp.acteVeterinaire.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-acte-veterinaire"
        [routerLink]="['/acte-veterinaire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="assoGestionApp.acteVeterinaire.home.createLabel"> Create a new Acte Veterinaire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="acteVeterinaires?.length === 0">
    <span jhiTranslate="assoGestionApp.acteVeterinaire.home.notFound">No acteVeterinaires found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="acteVeterinaires && acteVeterinaires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="libelle">
            <span jhiTranslate="assoGestionApp.acteVeterinaire.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="visiteVeterinaire.id">
            <span jhiTranslate="assoGestionApp.acteVeterinaire.visiteVeterinaire">Visite Veterinaire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let acteVeterinaire of acteVeterinaires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/acte-veterinaire', acteVeterinaire.id, 'view']">{{ acteVeterinaire.id }}</a>
          </td>
          <td>{{ acteVeterinaire.libelle }}</td>
          <td>
            <div *ngIf="acteVeterinaire.visiteVeterinaire">
              <a [routerLink]="['/visite-veterinaire', acteVeterinaire.visiteVeterinaire?.id, 'view']">{{
                acteVeterinaire.visiteVeterinaire?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/acte-veterinaire', acteVeterinaire.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/acte-veterinaire', acteVeterinaire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(acteVeterinaire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
