<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="chat">
      <h2 data-cy="chatDetailsHeading"><span jhiTranslate="assoGestionApp.chat.detail.title">Chat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ chat.id }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.nom">Nom</span></dt>
        <dd>
          <span>{{ chat.nom }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.typeIdentification">Type Identification</span></dt>
        <dd>
          <span jhiTranslate="{{ 'assoGestionApp.TypeIdentificationEnum.' + chat.typeIdentification }}">{{ chat.typeIdentification }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.identification">Identification</span></dt>
        <dd>
          <span>{{ chat.identification }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.dateNaissance">Date Naissance</span></dt>
        <dd>
          <span>{{ chat.dateNaissance | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.description">Description</span></dt>
        <dd>
          <span>{{ chat.description }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.robe">Robe</span></dt>
        <dd>
          <span>{{ chat.robe }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.poil">Poil</span></dt>
        <dd>
          <span jhiTranslate="{{ 'assoGestionApp.PoilEnum.' + chat.poil }}">{{ chat.poil }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.visite">Visites vétérinaire</span></dt>
        <dd>
          <div *ngIf="chat.visites && chat.visites.length > 0">
            <span *ngFor="let visite of chat.visites; let lastVisite = last">
              {{ visite.dateVisite | formatMediumDate }} - {{ visite.cliniqueVeterinaire?.nom }} [<ng-container
                *ngFor="let acte of visite.actes; let last = last"
              >
                <span>{{ acte.libelle }}</span
                ><span *ngIf="!last"> / </span> </ng-container
              >]
              <span *ngIf="!lastVisite"><br /></span>
            </span>
          </div>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.contrat">Contrat</span></dt>
        <dd>
          <div *ngIf="chat.contrat">
            <span
              >{{ chat.contrat.nom }} {{ chat.contrat.prenom }} - {{ chat.contrat.cout }}€ - {{ chat.contrat.paiement }} <br />{{
                chat.contrat.adresseAdoptant?.numero
              }}
              {{ chat.contrat.adresseAdoptant?.rue }} {{ chat.contrat.adresseAdoptant?.codePostale }}
              {{ chat.contrat.adresseAdoptant?.ville }}
            </span>
          </div>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.famille">Famille</span></dt>
        <dd>
          <div *ngIf="chat.famille">
            <span
              >{{ chat.famille.nom }} <br />
              {{ chat.famille?.adresse?.numero }} {{ chat.famille?.adresse?.rue }} {{ chat.famille?.adresse?.codePostale }}
              {{ chat.famille?.adresse?.ville }}</span
            >
          </div>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.adresseCapture">Adresse Capture</span></dt>
        <dd>
          <div *ngIf="chat.adresseCapture">
            <span
              >{{ chat.adresseCapture.nom }} <br />
              {{ chat.adresseCapture?.adresseCapture?.numero }} {{ chat.adresseCapture?.adresseCapture?.rue }}
              {{ chat.adresseCapture?.adresseCapture?.codePostale }} {{ chat.adresseCapture?.adresseCapture?.ville }}</span
            >
          </div>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.chat.race">Race</span></dt>
        <dd>
          <div *ngIf="chat.race">
            <span>{{ chat.race?.libelle }}</span>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/chat', chat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
