<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-header">
    <h4
      id="jhi-contact-heading"
      data-cy="ContactCreateUpdateHeading"
      jhiTranslate="assoGestionApp.visiteVeterinaire.home.createOrEditLabel"
    >
      Create or edit a Contact
    </h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clean()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
      <div class="col-md-12">
        <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label class="form-label" jhiTranslate="assoGestionApp.visiteVeterinaire.dateVisite" for="field_dateVisite">Date Visite</label>
        <div class="input-group">
          <input
            id="field_dateVisite"
            data-cy="dateVisite"
            type="text"
            class="form-control"
            name="dateVisite"
            ngbDatepicker
            #dateVisiteDp="ngbDatepicker"
            formControlName="dateVisite"
          />
          <button type="button" class="btn btn-secondary" (click)="dateVisiteDp.toggle()">
            <fa-icon icon="calendar-alt"></fa-icon>
          </button>
        </div>
        <div *ngIf="editForm.get('dateVisite')!.invalid && (editForm.get('dateVisite')!.dirty || editForm.get('dateVisite')!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('dateVisite')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>
      <div class="col-md-8">
        <label class="form-label" jhiTranslate="assoGestionApp.visiteVeterinaire.cliniqueVeterinaire" for="field_cliniqueVeterinaire"
          >Clinique Veterinaire</label
        >
        <jhi-clinique-veterinaire-autocomplete-control formControlName="cliniqueVeterinaire">
        </jhi-clinique-veterinaire-autocomplete-control>
        <div
          *ngIf="
            editForm.get('cliniqueVeterinaire')!.invalid &&
            (editForm.get('cliniqueVeterinaire')!.dirty || editForm.get('cliniqueVeterinaire')!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get('cliniqueVeterinaire')?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <jhi-acte-veterinaire-list-edit [acteVeterinaires]="actes"></jhi-acte-veterinaire-list-edit>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="clean()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
    >
      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
  </div>
</form>
