<div>
  <h2 id="page-heading" data-cy="ContratHeading">
    <span jhiTranslate="assoGestionApp.contrat.home.title">Contrats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="assoGestionApp.contrat.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contrat"
        [routerLink]="['/contrat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="assoGestionApp.contrat.home.createLabel"> Create a new Contrat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="contrats?.length === 0">
    <span jhiTranslate="assoGestionApp.contrat.home.notFound">No contrats found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="contrats && contrats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="assoGestionApp.contrat.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="assoGestionApp.contrat.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cout"><span jhiTranslate="assoGestionApp.contrat.cout">Cout</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="paiement">
            <span jhiTranslate="assoGestionApp.contrat.paiement">Paiement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateContrat">
            <span jhiTranslate="assoGestionApp.contrat.dateContrat">Date Contrat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresseAdoptant.id">
            <span jhiTranslate="assoGestionApp.contrat.adresseAdoptant">Adresse Adoptant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let contrat of contrats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contrat', contrat.id, 'view']">{{ contrat.id }}</a>
          </td>
          <td>{{ contrat.nom }}</td>
          <td>{{ contrat.prenom }}</td>
          <td>{{ contrat.cout }}</td>
          <td jhiTranslate="{{ 'assoGestionApp.PaiementEnum.' + contrat.paiement }}">{{ contrat.paiement }}</td>
          <td>{{ contrat.dateContrat | formatMediumDate }}</td>
          <td>
            <div *ngIf="contrat.adresseAdoptant">
              <a [routerLink]="['/adresse', contrat.adresseAdoptant?.id, 'view']">{{ contrat.adresseAdoptant?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contrat', contrat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contrat', contrat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(contrat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
