<div>
  <h2 id="page-heading" data-cy="CliniqueVeterinaireHeading">
    <span jhiTranslate="assoGestionApp.cliniqueVeterinaire.home.title">Clinique Veterinaires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="assoGestionApp.cliniqueVeterinaire.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-clinique-veterinaire"
        [routerLink]="['/clinique-veterinaire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="assoGestionApp.cliniqueVeterinaire.home.createLabel"> Create a new Clinique Veterinaire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cliniqueVeterinaires?.length === 0">
    <span jhiTranslate="assoGestionApp.cliniqueVeterinaire.home.notFound">No cliniqueVeterinaires found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cliniqueVeterinaires && cliniqueVeterinaires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom">
            <span jhiTranslate="assoGestionApp.cliniqueVeterinaire.nom">Nom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="actif">
            <span jhiTranslate="assoGestionApp.cliniqueVeterinaire.actif">Actif</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="assoGestionApp.cliniqueVeterinaire.adresse">Adresse</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let cliniqueVeterinaire of cliniqueVeterinaires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/clinique-veterinaire', cliniqueVeterinaire.id, 'view']">{{ cliniqueVeterinaire.id }}</a>
          </td>
          <td>{{ cliniqueVeterinaire.nom }}</td>
          <td>
            <fa-icon icon="check" class="text-success" *ngIf="cliniqueVeterinaire.actif === true"></fa-icon>
            <fa-icon icon="times" class="text-danger" *ngIf="cliniqueVeterinaire.actif === false"></fa-icon>
          </td>
          <td>
            <jhi-adresse-view [adresse]="cliniqueVeterinaire.adresse" *ngIf="cliniqueVeterinaire.adresse"></jhi-adresse-view>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/clinique-veterinaire', cliniqueVeterinaire.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/clinique-veterinaire', cliniqueVeterinaire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cliniqueVeterinaire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
