<div class="d-flex justify-content-center">
  <div class="col-10">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-famille-accueil-heading"
        data-cy="FamilleAccueilCreateUpdateHeading"
        jhiTranslate="assoGestionApp.familleAccueil.home.createOrEditLabel"
      >
        Create or edit a Famille Accueil
      </h2>
      <jhi-alert-error></jhi-alert-error>

      <div>
        <div class="row mb-3">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                <div class="col-md-12">
                  <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                  <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label" jhiTranslate="assoGestionApp.familleAccueil.nom" for="field_nom">Nom</label>
                  <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
                  <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('nom')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>
                <div class="col-md-6">
                  <label class="form-label" jhiTranslate="assoGestionApp.familleAccueil.typeLogement" for="field_typeLogement"
                    >Type Logement</label
                  >
                  <select
                    class="form-control"
                    name="typeLogement"
                    formControlName="typeLogement"
                    id="field_typeLogement"
                    data-cy="typeLogement"
                  >
                    <option [ngValue]="null">{{ 'assoGestionApp.TypeLogementEnum.null' | translate }}</option>
                    <option *ngFor="let typeLogementEnum of typeLogementEnumValues" [value]="typeLogementEnum">
                      {{ 'assoGestionApp.TypeLogementEnum.' + typeLogementEnum | translate }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-4">
                  <label class="form-label" jhiTranslate="assoGestionApp.familleAccueil.nombrePiece" for="field_nombrePiece"
                    >Nombre Piece</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="nombrePiece"
                    id="field_nombrePiece"
                    data-cy="nombrePiece"
                    formControlName="nombrePiece"
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label" jhiTranslate="assoGestionApp.familleAccueil.nombreChat" for="field_nombreChat"
                    >Nombre Chat</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="nombreChat"
                    id="field_nombreChat"
                    data-cy="nombreChat"
                    formControlName="nombreChat"
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label" jhiTranslate="assoGestionApp.familleAccueil.nombreChien" for="field_nombreChien"
                    >Nombre Chien</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="nombreChien"
                    id="field_nombreChien"
                    data-cy="nombreChien"
                    formControlName="nombreChien"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <jhi-adresse-edit2 formGroupName="adresse"></jhi-adresse-edit2>
              </div>

              <div class="row mb-3">
                <jhi-contact-list-edit [contacts]="contacts"></jhi-contact-list-edit>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
