<div>
  <h2 id="page-heading" data-cy="ConfigurationDonHeading">
    <span jhiTranslate="assoGestionApp.configurationDon.home.title">Configuration Dons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="assoGestionApp.configurationDon.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-configuration-don"
        [routerLink]="['/configuration-don/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="assoGestionApp.configurationDon.home.createLabel"> Create a new Configuration Don </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="configurationDons?.length === 0">
    <span jhiTranslate="assoGestionApp.configurationDon.home.notFound">No configurationDons found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="configurationDons && configurationDons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="denomination">
            <span jhiTranslate="assoGestionApp.configurationDon.denomination">Denomination</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="objet">
            <span jhiTranslate="assoGestionApp.configurationDon.objet">Objet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="signataire">
            <span jhiTranslate="assoGestionApp.configurationDon.signataire">Signataire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresse.id">
            <span jhiTranslate="assoGestionApp.configurationDon.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let configurationDon of configurationDons; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/configuration-don', configurationDon.id, 'view']">{{ configurationDon.id }}</a>
          </td>
          <td>{{ configurationDon.denomination }}</td>
          <td>{{ configurationDon.objet }}</td>
          <td>{{ configurationDon.signataire }}</td>
          <td>
            <div *ngIf="configurationDon.adresse">
              <a [routerLink]="['/adresse', configurationDon.adresse?.id, 'view']">{{ configurationDon.adresse?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/configuration-don', configurationDon.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/configuration-don', configurationDon.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(configurationDon)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
