<div class="row">
  <div [ngSwitch]="account !== null">
    <div *ngSwitchCase="false">
      <div class="row">
        <jhi-login></jhi-login>
      </div>
    </div>

    <div *ngSwitchCase="true">
      <div class="container">
        <div class="col-md-12 alert alert-success" *ngSwitchCase="true">
          <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
            >You are logged in as user "{{ account.login }}".</span
          >
        </div>
        <div class="card mt-3" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <div class="card-header">
            <h1 class="text-center">Gestion</h1>
          </div>
          <div class="card-body">
            <div class="row justify-content-md-center">
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.cliniqueVeterinaire">Clinique Veterinaire</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="clinique-veterinaire">
                        <span *ngIf="home">{{ home.nbCliniqueVeterinaire }}</span>
                        <span *ngIf="!home">0</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.pointCapture">Point Capture</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="point-capture">
                        <span *ngIf="home">{{ home.nbPointCapture }}</span>
                        <span *ngIf="!home">0</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.donateur">Donateur</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="donateur">
                        <span *ngIf="home">{{ home.nbDonateur }}</span>
                        <span *ngIf="!home">0</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.pointNourrissage">Point Nourrissage</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="point-nourrissage">
                        <span *ngIf="home">{{ home.nbPointNourrissage }}</span>
                        <span *ngIf="!home">0</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.familleAccueil">Famille Accueil</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="famille-accueil">
                        <span *ngIf="home">{{ home.nbFamilleAccueil }}</span>
                        <span *ngIf="!home">0</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.chat">Chat</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="chat">
                        <span *ngIf="home">{{ home.nbChat }}</span>
                        <span *ngIf="!home">0</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header bg-info">
            <h1 class="text-center">Calendier</h1>
          </div>
          <div class="card-body">
            <div class="row justify-content-md-center">
              <div class="col-md-12 mb-3">
                <full-calendar [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>
        </div>

        <div class="card mt-3" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <div class="card-header bg-warning">
            <h1 class="text-center">Configuration</h1>
          </div>
          <div class="card-body">
            <div class="row justify-content-md-center">
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.configurationAsso">Configuration asso</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="configuration-asso">
                        <span jhiTranslate="global.menu.entities.configurationAsso">Configuration asso</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.utilisateurs">utilisateurs</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="/admin/user-management">
                        <span jhiTranslate="global.menu.entities.utilisateurs">utilisateurs</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card text-center">
                  <div class="card-header bg-success text-white">
                    <h4>
                      <span jhiTranslate="global.menu.entities.raceChat">raceChat</span>
                    </h4>
                  </div>
                  <div class="card-body">
                    <h4>
                      <a routerLink="race-chat">
                        <span jhiTranslate="global.menu.entities.raceChat">raceChat</span>
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
