<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="configurationDon">
      <h2 data-cy="configurationDonDetailsHeading">
        <span jhiTranslate="assoGestionApp.configurationDon.detail.title">Configuration Don</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ configurationDon.id }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.configurationDon.denomination">Denomination</span></dt>
        <dd>
          <span>{{ configurationDon.denomination }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.configurationDon.objet">Objet</span></dt>
        <dd>
          <span>{{ configurationDon.objet }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.configurationDon.signataire">Signataire</span></dt>
        <dd>
          <span>{{ configurationDon.signataire }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.configurationDon.adresse">Adresse</span></dt>
        <dd>
          <div *ngIf="configurationDon.adresse">
            <a [routerLink]="['/adresse', configurationDon.adresse?.id, 'view']">{{ configurationDon.adresse?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/configuration-don', configurationDon.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
