<div class="d-flex justify-content-center">
  <div class="col-10">
    <div *ngIf="contrat">
      <h2 data-cy="contratDetailsHeading"><span jhiTranslate="assoGestionApp.contrat.detail.title">Contrat</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contrat.id }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.contrat.nom">Nom</span></dt>
        <dd>
          <span>{{ contrat.nom }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.contrat.prenom">Prenom</span></dt>
        <dd>
          <span>{{ contrat.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.contrat.cout">Cout</span></dt>
        <dd>
          <span>{{ contrat.cout }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.contrat.paiement">Paiement</span></dt>
        <dd>
          <span jhiTranslate="{{ 'assoGestionApp.PaiementEnum.' + contrat.paiement }}">{{ contrat.paiement }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.contrat.dateContrat">Date Contrat</span></dt>
        <dd>
          <span>{{ contrat.dateContrat | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="assoGestionApp.contrat.adresseAdoptant">Adresse Adoptant</span></dt>
        <dd>
          <div *ngIf="contrat.adresseAdoptant">
            <a [routerLink]="['/adresse', contrat.adresseAdoptant?.id, 'view']">{{ contrat.adresseAdoptant?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contrat', contrat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
