<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-chat-heading" data-cy="ChatCreateUpdateHeading" jhiTranslate="assoGestionApp.chat.home.createOrEditLabel">
        Create or edit a Chat
      </h2>

      <jhi-alert-error></jhi-alert-error>
      <div>
        <div class="row mb-3">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                <div class="col">
                  <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                  <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <label class="form-label" jhiTranslate="assoGestionApp.chat.nom" for="field_nom">Nom</label>
                  <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
                  <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('nom')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      This field is required.
                    </small>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <label class="form-label" jhiTranslate="assoGestionApp.chat.typeIdentification" for="field_typeIdentification"
                    >Type Identification</label
                  >
                  <select
                    class="form-control"
                    name="typeIdentification"
                    formControlName="typeIdentification"
                    id="field_typeIdentification"
                    data-cy="typeIdentification"
                  >
                    <option [ngValue]="null">{{ 'assoGestionApp.TypeIdentificationEnum.null' | translate }}</option>
                    <option *ngFor="let typeIdentificationEnum of typeIdentificationEnumValues" [value]="typeIdentificationEnum">
                      {{ 'assoGestionApp.TypeIdentificationEnum.' + typeIdentificationEnum | translate }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <label class="form-label" jhiTranslate="assoGestionApp.chat.identification" for="field_identification"
                    >Identification</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="identification"
                    id="field_identification"
                    data-cy="identification"
                    formControlName="identification"
                  />
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label" jhiTranslate="assoGestionApp.chat.dateNaissance" for="field_dateNaissance"
                      >Date Naissance</label
                    >
                    <div class="input-group">
                      <input
                        id="field_dateNaissance"
                        data-cy="dateNaissance"
                        type="text"
                        class="form-control"
                        name="dateNaissance"
                        ngbDatepicker
                        #dateNaissanceDp="ngbDatepicker"
                        formControlName="dateNaissance"
                      />
                      <button type="button" class="btn btn-secondary" (click)="dateNaissanceDp.toggle()">
                        <fa-icon icon="calendar-alt"></fa-icon>
                      </button>
                    </div>
                    <div
                      *ngIf="
                        editForm.get('dateNaissance')!.invalid &&
                        (editForm.get('dateNaissance')!.dirty || editForm.get('dateNaissance')!.touched)
                      "
                    >
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('dateNaissance')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label" jhiTranslate="assoGestionApp.chat.description" for="field_description">Description</label>
                    <textarea
                      class="form-control"
                      name="description"
                      id="field_description"
                      data-cy="description"
                      formControlName="description"
                    ></textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label" jhiTranslate="assoGestionApp.chat.robe" for="field_robe">Robe</label>
                    <input type="text" class="form-control" name="robe" id="field_robe" data-cy="robe" formControlName="robe" />
                    <div *ngIf="editForm.get('robe')!.invalid && (editForm.get('robe')!.dirty || editForm.get('robe')!.touched)">
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('robe')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label" jhiTranslate="assoGestionApp.chat.poil" for="field_poil">Poil</label>
                    <select class="form-control" name="poil" formControlName="poil" id="field_poil" data-cy="poil">
                      <option [ngValue]="null">{{ 'assoGestionApp.PoilEnum.null' | translate }}</option>
                      <option *ngFor="let poilEnum of poilEnumValues" [value]="poilEnum">
                        {{ 'assoGestionApp.PoilEnum.' + poilEnum | translate }}
                      </option>
                    </select>
                    <div *ngIf="editForm.get('poil')!.invalid && (editForm.get('poil')!.dirty || editForm.get('poil')!.touched)">
                      <small
                        class="form-text text-danger"
                        *ngIf="editForm.get('poil')?.errors?.required"
                        jhiTranslate="entity.validation.required"
                      >
                        This field is required.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label" jhiTranslate="assoGestionApp.chat.contrat" for="field_contrat">Contrat</label>
                    <select class="form-control" id="field_contrat" data-cy="contrat" name="contrat" formControlName="contrat">
                      <option [ngValue]="null"></option>
                      <option
                        [ngValue]="contratOption.id === editForm.get('contrat')!.value?.id ? editForm.get('contrat')!.value : contratOption"
                        *ngFor="let contratOption of contratsCollection; trackBy: trackContratById"
                      >
                        {{ contratOption.id }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label" jhiTranslate="assoGestionApp.chat.famille" for="field_famille">Famille</label>
                    <select class="form-control" id="field_famille" data-cy="famille" name="famille" formControlName="famille">
                      <option [ngValue]="null"></option>
                      <option
                        [ngValue]="
                          familleAccueilOption.id === editForm.get('famille')!.value?.id
                            ? editForm.get('famille')!.value
                            : familleAccueilOption
                        "
                        *ngFor="let familleAccueilOption of familleAccueilsSharedCollection; trackBy: trackFamilleAccueilById"
                      >
                        {{ familleAccueilOption.nom }} - {{ familleAccueilOption.typeLogement }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label" jhiTranslate="assoGestionApp.chat.adresseCapture" for="field_adresseCapture"
                      >Adresse Capture</label
                    >
                    <select
                      class="form-control"
                      id="field_adresseCapture"
                      data-cy="adresseCapture"
                      name="adresseCapture"
                      formControlName="adresseCapture"
                    >
                      <option [ngValue]="null"></option>
                      <option
                        [ngValue]="
                          pointCaptureOption.id === editForm.get('adresseCapture')!.value?.id
                            ? editForm.get('adresseCapture')!.value
                            : pointCaptureOption
                        "
                        *ngFor="let pointCaptureOption of pointCapturesSharedCollection; trackBy: trackPointCaptureById"
                      >
                        {{ pointCaptureOption.nom }} - {{ pointCaptureOption?.adresseCapture?.numero }}&nbsp;{{
                          pointCaptureOption?.adresseCapture?.rue
                        }}&nbsp;{{ pointCaptureOption?.adresseCapture?.codePostale }}&nbsp;{{ pointCaptureOption?.adresseCapture?.ville }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label" jhiTranslate="assoGestionApp.chat.race" for="field_race">Race</label>
                    <select class="form-control" id="field_race" data-cy="race" name="race" formControlName="race">
                      <option [ngValue]="null"></option>
                      <option
                        [ngValue]="raceChatOption.id === editForm.get('race')!.value?.id ? editForm.get('race')!.value : raceChatOption"
                        *ngFor="let raceChatOption of raceChatsSharedCollection; trackBy: trackRaceChatById"
                      >
                        {{ raceChatOption.libelle }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
