<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contrat-heading" data-cy="ContratCreateUpdateHeading" jhiTranslate="assoGestionApp.contrat.home.createOrEditLabel">
        Create or edit a Contrat
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="assoGestionApp.contrat.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="assoGestionApp.contrat.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="assoGestionApp.contrat.cout" for="field_cout">Cout</label>
          <input type="number" class="form-control" name="cout" id="field_cout" data-cy="cout" formControlName="cout" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="assoGestionApp.contrat.paiement" for="field_paiement">Paiement</label>
          <select class="form-control" name="paiement" formControlName="paiement" id="field_paiement" data-cy="paiement">
            <option [ngValue]="null">{{ 'assoGestionApp.PaiementEnum.null' | translate }}</option>
            <option *ngFor="let paiementEnum of paiementEnumValues" [value]="paiementEnum">
              {{ 'assoGestionApp.PaiementEnum.' + paiementEnum | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="assoGestionApp.contrat.dateContrat" for="field_dateContrat">Date Contrat</label>
          <div class="input-group">
            <input
              id="field_dateContrat"
              data-cy="dateContrat"
              type="text"
              class="form-control"
              name="dateContrat"
              ngbDatepicker
              #dateContratDp="ngbDatepicker"
              formControlName="dateContrat"
            />
            <button type="button" class="btn btn-secondary" (click)="dateContratDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="assoGestionApp.contrat.adresseAdoptant" for="field_adresseAdoptant"
            >Adresse Adoptant</label
          >
          <select
            class="form-control"
            id="field_adresseAdoptant"
            data-cy="adresseAdoptant"
            name="adresseAdoptant"
            formControlName="adresseAdoptant"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                adresseOption.id === editForm.get('adresseAdoptant')!.value?.id ? editForm.get('adresseAdoptant')!.value : adresseOption
              "
              *ngFor="let adresseOption of adresseAdoptantsCollection; trackBy: trackAdresseById"
            >
              {{ adresseOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
