<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-header">
    <h4 id="jhi-contact-heading" data-cy="ContactCreateUpdateHeading" jhiTranslate="assoGestionApp.acteVeterinaire.home.createOrEditLabel">
      Create or edit a Contact
    </h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clean()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
      <div class="col-md-12">
        <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
        <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label class="form-label" jhiTranslate="assoGestionApp.acteVeterinaire.libelle" for="field_libelle">Libelle</label>

        <select class="form-control" name="libelle" formControlName="libelle" id="field_libelle" data-cy="libelle">
          <option [ngValue]="null">{{ 'assoGestionApp.ActeVeterinaireEnum.null' | translate }}</option>
          <option *ngFor="let acteVeterinaireEnum of acteVeterinaireEnumValues" [value]="acteVeterinaireEnum">
            {{ 'assoGestionApp.ActeVeterinaireEnum.' + acteVeterinaireEnum | translate }}
          </option>
        </select>

        <!-- <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" /> -->
        <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('libelle')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="clean()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button
      type="submit"
      id="save-entity"
      data-cy="entityCreateSaveButton"
      [disabled]="editForm.invalid || isSaving"
      class="btn btn-primary"
    >
      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
  </div>
</form>
