<div class="d-flex justify-content-center">
  <div class="col-10">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-point-capture-heading"
        data-cy="PointCaptureCreateUpdateHeading"
        jhiTranslate="assoGestionApp.pointCapture.home.createOrEditLabel"
      >
        Create or edit a Point Capture
      </h2>

      <jhi-alert-error></jhi-alert-error>
      <div>
        <div class="row mb-3">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
                <div class="col-md-12">
                  <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
                  <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-12">
                  <label class="form-label" jhiTranslate="assoGestionApp.pointCapture.nom" for="field_nom">Nom</label>
                  <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
                </div>
              </div>

              <div class="row mb-3">
                <jhi-adresse-edit formControlName="adresseCapture"></jhi-adresse-edit>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
            class="btn btn-primary"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
